/* ------ Global ------ */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* ------ Body ------ */
.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.top-section {
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    /* padding-left: 40px; */
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 20px;
    gap: 16px;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.link:hover {
    background-color: lightskyblue;
    color: #000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.active {
    background-color: lightskyblue;
    color: #000;
}

.icon, .link-text {
    font-size: 18px;
}